body {


    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    font-weight:normal;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform:uppercase;

}

html {
    height: 100%;
    width: 100%;
}