body {


    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    font-weight:normal;
    text-transform:uppercase;

}

html {
    height: 100%;
    width: 100%;
}